#box{
    border: 5px solid black;
    height: 500px;
    width: 500px;
    position: relative;
    top: 70px;
}
#circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 450px;
    height: 450px;
    position: relative;
    top: 25px;
}
.key {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    font-size: 60px;
    line-height: 60px;
    color: black;
}
.up {
    position: absolute;
    top: 250px;
    left: 189px;
}
.down {
    position: absolute;
    top: 325px;
    left: 189px;
}
.left {
    position: absolute;
    top: 325px;
    left: 114px;
}
.right {
    position: absolute;
    top: 325px;
    right: 114px;
}
.up:before {
    content: '\002191';
}
.down:before {
    content: '\002193';
}
.left:before {
    content: '\002190';
}
.right:before {
    content: '\002192';
}

